body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
}

.app {
  overflow: scroll;
}

nav {
  @include sticky();

  border-bottom: 1px solid gray;
  padding: 1em;
  text-align: center;

  a {
    margin: 0 1em;
  }
}

.page {
  padding: 1em;
}
